<div id="big_holder"> 
  <div id="event_holder" class="content_holder">
    <h2 class="content_title">Events</h2>
    <div class="content_block_divider"></div>
    <div class="indented_holder" *ngFor="let event of upload.events">
      <app-content-block
        [(content)] = "event"
        [tags] = "possible_content_tags"
      ></app-content-block>
    </div>
    <div class="content_buttons_holder indented_holder">
      <button class="content_button add_content_button" id="add_event" (click)="addContent(upload.events)">Add Event Content</button>
      <button class="content_button remove_content_button" id="remove_event" (click)="removeContent(upload.events)">Remove Event Content</button>
    </div>
  </div>

  <div id="council_meeting_updates_holder" class="content_holder">
    <h2 class="content_title">Council meeting Updates</h2>
    <div class="content_block_divider"></div>
    <div class="indented_holder" *ngFor="let meeting_update of upload.councilMeetingUpdates">
      <app-content-block
        [content] = "meeting_update"
        [tags] = "possible_content_tags"
      ></app-content-block>
    </div>
    <div class="content_buttons_holder indented_holder">
      <button class="content_button add_content_button" id="add_council_meeting_updates" (click)="addContent(upload.councilMeetingUpdates)">Add Council Meeting Update Content</button>
      <button class="content_button remove_content_button" id="remove_council_meeting_updates" (click)="removeContent(upload.councilMeetingUpdates)">Remove Council Meeting Update Content</button>
    </div>
  </div>

  <div id="town_in_news_holder" class="content_holder">
    <h2 class="content_title">Town in News</h2>
    <div class="content_block_divider"></div>
    <div class="indented_holder" *ngFor="let news of upload.townInTheNews">
      <app-content-block
        [content] = "news"
        [tags] = "possible_content_tags">
      </app-content-block>
    </div>
    <div class="content_buttons_holder indented_holder">
      <button class="content_button add_content_button" id="add_news" (click)="addContent(upload.townInTheNews)">Add Town in News Content</button>
      <button class="content_button remove_content_button" id="remove_news" (click)="removeContent(upload.townInTheNews)">Remove Town in News Content</button>
    </div>
  </div>

  <div id="community_action_opportunities_holder" class="content_holder">
    <h2 class="content_title">Community Action Opportunities</h2>
    <div class="content_block_divider"></div>
    <div class="indented_holder" *ngFor="let community_action of upload.communityActionOpportunities">
      <app-content-block
        [content] = "community_action"
        [tags] = "possible_content_tags"
      ></app-content-block>                                                                                                                                                       
    </div>
    <div class="content_buttons_holder indented_holder">
      <button class="content_button add_content_button" id="add_community_action_opportunity" (click)="addContent(upload.communityActionOpportunities)">Add
        Community Action Opportunities Content</button>
      <button class="content_button remove_content_button" id="remove_community_action_opportunity" (click)="removeContent(upload.communityActionOpportunities)">Remove
        Community Action Opportunities Content</button>
    </div>
  </div>

  <div id="submit_time_holder" class="content_holder centered">
    <p class="content_title">Submit time</p>
    <input type="datetime-local" id="date_time_input" [(ngModel)]="upload.dateToBeCreated">
  </div>

  <div id="submit_button_holder">
    <button class="content_button add_content_button" id="submit_content" (click)="submit()">Schedule Email</button>
  </div>
</div> 