h1{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top:300px;
}

#link-holder{
    text-align:center;
    width:100%;
}

a {
    display: inline-block;
    padding:10px;
    font-size:20px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #49c7e3ff;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 3px #ccc;
}