<div class="centered">
  <h1>Welcome to Durham E News</h1>
</div>

<div class="centered" id="registration_holder">

  <p id="interests_title" class="inline sub_header">What do you care about?</p><br>
  <p class="inline subtext">We know you care about a lot of things, so feel free to come back and add more later!</p>
  <div class="trait_selector_holder">
      <div class="inline">
        <button [ngClass]="isSelected(interest.val)" class="interest_button" *ngFor="let interest of interest_options_unselected" (click)="toggleInterest(interest.val)">{{interest.key}}</button><br>
      </div>
  </div><br>
  <div class="spacing"></div>

  <p id="interests_title" class="inline sub_header">Tell us a little about yourself:</p><br>
  <p id="subtext_two" class="inline subtext">The acta team is dedicated to our mission to connect you with unbiased, informative, and relevant local news and updates. We request our users’ demographics in order to get to know those who are using our platform. The more familiar we are with you, the more accurate our algorithms are. Please fill in as much information as you feel comfortable sharing with us. We are committed to protecting your privacy.</p>
  <div class="trait_selector_holder">
    <p class="inline input_name">Email</p><br>
    <input class="inline text_input" [(ngModel)]="user.email" placeholder="email"><br>
  </div>

  <!--<select class="inline" [(ngModel)]="user.email">
    <option *ngFor="let email of email_options" [value]="email">{{email}}</option>
  </select>-->

  <div class="trait_selector_holder">
    <p class="inline input_name">Gender</p><br>
    <select class="inline trait_selector" [(ngModel)]="user.gender">
      <option *ngFor="let gender of gender_options" [value]="gender">{{gender}}</option>
    </select><br>
  </div>

  <div class="trait_selector_holder">
    <p class="inline input_name">Race</p><br>
    <select class="inline trait_selector" [(ngModel)]="user.race">
      <option *ngFor="let race of race_options" [value]="race">{{race}}</option>
    </select><br>
  </div>

  <div class="trait_selector_holder">
    <p class="inline input_name">Household Income Rage</p><br>
    <select class="inline trait_selector" [(ngModel)]="user.income">
      <option *ngFor="let income of income_options" [value]="income">{{income}}</option>
    </select><br>
  </div>

  <div class="trait_selector_holder">
    <p class="inline input_name">Age Rage</p><br>
    <select class="inline trait_selector" [(ngModel)]="user.age">
      <option *ngFor="let age of age_options" [value]="age">{{age}}</option>
    </select><br>
  </div>

  <div class="trait_selector_holder">
    <p class="inline input_name ">Employment Status</p><br>
    <select class="inline trait_selector" [(ngModel)]="user.employment">
      <option *ngFor="let employment of employment_options" [value]="employment">{{employment}}</option>
    </select><br>
  </div>

  <div class="trait_selector_holder">
    <p class="inline input_name">Education Level</p><br>
    <select class="inline trait_selector" [(ngModel)]="user.education">
      <option *ngFor="let education of education_options" [value]="education">{{education}}</option>
    </select><br>
  </div>

  <div class="trait_selector_holder">
    <p class="inline input_name">Number of Children</p><br>
    <select class="inline trait_selector" [(ngModel)]="user.children">
      <option *ngFor="let children of children_options" [value]="children">{{children}}</option>
    </select><br>
  </div>

  <div class="submission_err_holder" *ngIf="err_message.exists">{{err_message.message}}</div>
  <button id="submission_button" (click)="submitInputs()">Submit</button><br>

  
</div>


