#registration_holder{
    margin-top:40px;
    margin-left:100px;
    margin-right:100px;
    border-top: 1px dotted grey;
}

#interest_holder{
    margin-top:20px;
    display:inline-block;
}

#selected_interests_holder{
    display:inline-block;
}

.text_input{
    width: 950px;
    font-size:21px;
}

.input_name{
    padding-right:50px;
    font-size:24px;
    margin-bottom:3px;
}

.interest_button{
    font-size: 20px;
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    border-right: 2px solid #C8C8C8;
    border-top: 2px solid #C8C8C8;
    border-bottom: 2px solid #C8C8C8;
    padding: 3px 3px 3px 3px;
    color: #C8C8C8;
}

select{
    font-size:21px;
}

.trait_selector_holder{
    text-align:left;
    margin-left:135px;
}

.trait_selector{
    width:950px;
}

.submission_err_holder{
    color:red;
}

#interests_title{
    font-size:24px;
    margin-top:30px;
}

.selected{
    color: black;
    border-top-color: #49c7e3ff;
}

.sub_header{
    text-align:center;
    margin-top:2px;
    margin-bottom:2px;
}

.subtext{
  margin-top:0;
  margin-bottom:10px;  
  padding-left: 250px;
  padding-right: 250px;
  color: #888888;
}

#submission_button{
    font-size: 25px;
    background-color: #49c7e3ff;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}